[Desktop Entry]
Encoding=UTF-8
Name=Link to CRM Extender: Lucidchart
Type=Link
URL=https://lucid.app/lucidchart/169343f3-874f-4a4a-a3e6-bb24e8f58860/edit?page=0_0&invitationId=inv_cbc46280-c578-4463-b18a-a639d7dfff99#
Icon=text-html
